<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>WELCOME {{cuser|uppercase}}</h1>

            <app-deleteuser [item]="currentid" (onDelete)="delete($event)" (onCancel)="cancel()"></app-deleteuser>

           <br><button class="btn btn-primary text-light" (click)="display()">View Details</button>&nbsp;&nbsp;&nbsp;

           <button class="btn btn-danger" (click)="deleteFromParent()">Delete Account</button><br><br>
            <table *ngIf="f == true">
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>AGE</th>
                </tr>
                <tr>
                    <td>{{name}}</td>
                    <td>{{id}}</td>
                    <td>{{age}}</td>
                </tr>
            </table><br><br>
            <form [formGroup]="updatedata" (ngSubmit)='updatefun()' class="formdiv">
            <h3>Update Age</h3>
            <label>Enter Age:</label>
            <input type="text" placeholder="enter age" class="form-control" formControlName="newage" name="newage"><br>
            <div *ngIf="updatedata.controls['newage'].touched">
                <div *ngIf="updatedata.controls['newage'].errors?.['required']"><p class="err">This field is required!!</p></div>
            </div>
            <button type="submit" class="btn btn-primary text-light" [disabled]="!updatedata.valid">Update</button><br>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>

        
</body>
</html>
