.row{
  margin-top: 10%;
}
table{
  border: 3px solid rgb(245, 188, 32);
  width: 100%;
  text-align: center;
  background-color: rgb(161, 186, 233);
}
th, td{
  border: 3px outset rgb(245, 188, 32);
  color:rgb(15, 54, 136);
}
tr:nth-child(even) {
  background-color:rgb(146, 204, 233);
}
tr:nth-child(odd) {
  background-color:rgb(96, 146, 238);
}
h1,h3{
  color: rgb(125, 63, 184);
}
.err{
  color: red;
  font-style: italic;
}
input{
  border-radius: 25px;
}
.s1{
  opacity: 0.1px;
}
span{
  color: blue;
}
